accelerate
boto3
cmake<4.0.0
cython
dask
dask-jobqueue
datasets>=4.4.2
diffusers[torch]>=0.36.0
evaluate
fvcore
gensim
geopandas
gpytorch
graphviz
gym
h5py
imageio
imbalanced-learn
iopath
ipywidgets
jupyter-resource-usage
jupyter-server
jupyterlab
jupyterlab-git
jupytext
keras-cv
keras>=3.0
librosa
lightning
lit
lmdb
lxml
marimo
matplotlib
mlflow
mpi4py
mysql-connector-python
nbclassic
netcdf4
nltk
notebook
numba
numpy
odfpy
opencv-python
openpyxl
packaging
pandas
papermill
peft
pillow
portalocker
protobuf
psutil
pycodestyle
pydot
pyflakes
pykeops
pyparsing
pyprojroot
pysqlite3<0.6.0
pytest
python-keystoneclient
python-swiftclient
pyyaml
rasterio
ray[tune,train,data,serve]>=2.7
regex
requests
sahi
scikit-image
scikit-learn
scipy
seaborn
sentencepiece
setuptools
tables
tensorboard
tensorboardx
timm
torch-tb-profiler
torch_geometric
torchgeo
torchinfo
tqdm
transformers>=5.2.0
triton
trl>=0.27.2
ultralytics
umap-learn
uv
visdom
wandb
xgboost
xlwt
# Added 27.8.2026 for geoml course
terratorch
sahi
