tensorflow-hub
tensorflow-datasets
tensorflow-probability
keras
keras-tuner
keras-cv
keras-nlp
scikit-learn
scikit-image
scipy
jupyterlab
nbclassic
jupyterlab-git
jupytext
ipywidgets
pandas
tqdm
seaborn
requests
pillow
h5py
click
jinja2
markupsafe
decorator
setuptools
pyflakes
pycodestyle
graphviz
matplotlib
nltk
pytest
cython
gensim
xlwt
openpyxl
pydot
dask
pyyaml
xgboost
tables
netcdf4
imbalanced-learn
lmdb
mysql-connector-python
lxml
openpyxl
regex
umap-learn
tensorboard
tensorboard_plugin_profile
torch_tb_profiler
mlflow
imageio
geopandas
rasterio
dask-jobqueue
odfpy
transformers
xlrd
resampy
soundfile
ray[data,train,tune,serve]
hyperopt
bayesian-optimization
hpbandster
papermill
spliceai
boto3
python-swiftclient
python-keystoneclient
jupyter-resource-usage
marimo
psutil
