bayesian-optimization
boto3
chex
click
cython
dask
dask-jobqueue
datasets
decorator
distrax
dm-haiku
equinox
evaluate
flax
gensim
graphviz
h5py
hpbandster
hyperopt
imageio
imbalanced-learn
ipywidgets
jax-md
jinja2
jraph
jupyter-resource-usage
jupyterlab
jupyterlab-git
jupytext
lmdb
lxml
marimo
markupsafe
matplotlib
mlflow
mysql-connector-python
nbclassic
netcdf4
nltk
objax
odfpy
openpyxl
optax
pandas
papermill
pillow
psutil
pycodestyle
pydot
pyflakes
pytest
python-keystoneclient
python-swiftclient
pyyaml
ray[data,train,tune,serve]
regex
requests
resampy
scikit-image
scikit-learn
scipy
seaborn
setuptools
soundfile
symjax
tables
tensorboard
tensorly
tqdm
umap-learn
xgboost
xlrd
xlwt
grain
orbax-checkpoint
chex
